 /* Extend */

 %estiloParrafo {
     text-align: center;
     font-size: 20px;
     font-weight: bold;
     margin: 15px 0px;
 }

 @mixin tamañoImagen($ancho) {
     width: $ancho;
     margin: 0px 6px;
     margin-bottom: 22px
 }