.main-club {

    .contenedorSecciones {
        .contenidoContenedorClub {
            p {
                margin: 20px;
                color: rgb(26, 25, 25);
                font-size: 22px;
            }

            h2 {
                color: rgb(252, 52, 52);
                margin: 10px 20px
            }
        }
    }
}