.main-club {


    .contenedorSeccionesClub {
        max-width: 800px;
        display: flex;
        align-items: center;


        .contenidoContenedorClub {


            p {
                color: rgb(26, 25, 25);
                font-size: 20px;
            }


        }
    }



}