header {
    position: sticky;
    top: 0;
    left: 0;
    background-color: rgb(225, 5, 5);
    z-index: 5;
    max-width: 100%;
    min-height: 10vh;

    .navbar-collapse {
        list-style: none;
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;

        .navbar-nav {
            .nav-item {


                .nav-link {
                    color: white;
                    font-size: 25px;
                    margin: 7px;

                    &:hover {
                        font-weight: bold;
                        color: rgb(2, 1, 1) !important;
                    }

                }
            }

        }

    }

    .logo {
        width: 120px;
        border-radius: 20%;
        padding: 10px;
    }
}